body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

h1 {
    color: darkred;
}

.container {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px;
    width: 95%;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

ul {
    list-style: none;
    padding: 0;
}
